<!DOCTYPE html>
<html>
  <head>
    <title><Resultados></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Resultado</h1>
    <p><%= resultados %></p>
  </body>
</html>
